.rssBody, .rssBody div {padding:0;}
.rssRow {list-style-type:none !important;}
.rssRow p span {font-style:italic;}
.rssRow img {  float: right;   max-height: 200px;}
.ui-tabs-panel p {line-height:1.25em;}
